// .container {
// 	max-width: 1040px;
// 	margin: 0 auto;
// 	padding-left: 10px;
// 	padding-right: 10px;
// }

section {
	// @apply mt-[50px] lg:mt-[30px];
}



::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #6F89DB;
	border-radius: 5px;
}
