<aside id="menu" class="menu fixed left-0 top-0 z-[999] flex h-full w-[10.625rem] flex-col duration-300 ease-out lg:w-[6.875rem] sm:w-[4rem] bg-black py-[48px] px-4">
	<nav class="nav-service text-white dark:text-black">
		<ul class="nav__list text-center">
			<li class="text-[20px]"><a href="#" class="">Users</a></li>
			<li class="text-[20px]"><a href="#" class="">Details</a></li>
			<li class="text-[20px]"><a href="#" class="">Tariffs</a></li>
			<li class="text-[20px]"><a href="#" class="">Queue</a></li>
		</ul>
	</nav>
	
</aside>
