.menu.open {
  width: 70%;
}
.menu.open .logo-title {
  transform: rotate(0);
  top: 40px;
  right: 47px;
  bottom: unset;
}
.menu.open .menu__top,
.menu.open .menu__bottom {
  padding: 30px 43px;
  align-items: flex-start;
}
.menu.open .menu__top {
  flex-direction: row;
}
.menu.open .menu__bottom {
  justify-content: flex-start;
  flex-direction: row;
}
.menu.open .nav {
  transform: translateX(0);
}
.menu.open .menu__icon-phone p {
  display: none;
}
.menu.open .menu__bottom-footer {
  display: block;
}
@media (max-width: 768px) {
  .menu.open .menu__top {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .menu.open .logo-title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .menu.open .logo-title {
    position: unset;
    align-self: center;
    margin-top: 16px;
    white-space: normal;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .menu.open .nav__item {
    font-size: 40px;
    line-height: 110%;
  }
}
@media (max-width: 768px) {
  .menu.open .nav {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .menu.open .menu__icon-close {
    bottom: unset;
    top: 30px;
  }
  .menu.open .menu__icon-close svg {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 575px) {
  .menu.open {
    width: 100%;
  }
}